/*
 * DIVS
 */

 html {
 	width: 100%;
	height: 100%;
 }

body {
	background: rgba(0,205,21,0.65);
	font-family: "Gill Sans", Lucida, sans-serif;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

h1 {
	color: #F9775F;
	font-size: 2.2em;
}

div.main {
	padding-top: 4.2em;
	padding-bottom: 4.2em;
}

.container-wip {
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	background: #FFF;
	padding: 2.5em 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 1.4em auto 0 auto;
    width: 60%;
}

#conheceu_ferramenta_outro {
	display: none;
}

#btn-submit {
	margin-top: 1em;
	width: 100%;
	background: #F9775F;
	color: #FFF;
	font-size: 1.1em;
	font-weight: 600;
}