/*
 * DIVS
 */

body {
	background: rgba(0,205,21,0.65);
	font-family: "Gill Sans", Lucida, sans-serif;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

h1 {
	color: #F9775F;
	font-size: 2.2em;
	margin-top: 0.3em !important;
}

.container-wip {
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	background: #FFF;
	padding: 0.7em 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 1.4em;
}

div.main {
	padding-top: 2.5em;
	padding-bottom: 2.5em;
}

/*
 * GASTOS
*/

.change-cursor {
	cursor: pointer;
}

tr td {
	overflow: hidden;
}

td.adjust-width {
	min-width: 5em;
	max-width: 10em;
}

/* TIPOGRAFIA RESPONSIVA */

@media screen and (max-width: 767px) {
	.text-size-responsive {
		font-size: 0.85em;
	}
}

@media screen and (min-width: 768px) {
	.text-size-responsive {
		font-size: 1em;
	}
}
